<%
  custom = { :rows => @resource.typus_options_for(:form_rows) }
  options = options.merge!(custom)
%>

<li id="<%= attribute_id %>">
  <%= form.label attribute, label_text.html_safe %>
  <%= form.text_area attribute, options %>
</li>
