<h2>Welcome!</h2>

<%
  mailing_list = link_to('mailing list', 'http://groups.google.com/group/typus')
  user_guide = link_to('user guide', 'http://docs.typuscmf.com/')
%>

<p>If you need help don't hesitate in joining the <%= mailing_list %> or use
the <%= user_guide %>.</p>

<p>Replace this sidebar dropping a file named <code>_sidebar.html.erb</code>
on the <code>app/views/admin/dashboard</code> folder.</p>
