#portfolio_items
  - items.each do |item|
    = link_to image_tag(item.portfolio_item_image.url(:thumb), :alt => item.title), item.portfolio_item_image.url(:medium), :title => item.title, :rel => 'portfolio'
.clear
