%h1 Портфолио
#filters
  = link_to 'Все', '#', :'data-filter' => '*', class: 'active'
  - @tags.each do |t|
    = link_to t.name, '#', :'data-filter' => '.'+t.slug
#portfolios
  - @portfolios.each do |portfolio|
    .item{ class: portfolio.tags.pluck(:slug).join(' ') }
      = image_tag portfolio.image.thumb, :alt => portfolio.name
      = link_to portfolio.name, portfolio_permalink(portfolio.id, 'second_menu')
.clear
