%h1 Портфолио
#filters
  - @tags.each do |t|
    = link_to 'Все', '#', :'data-filter' => '*', class: 'active'
    = link_to t, '#', :'data-filter' => t
#portfolios
  - @portfolios.each do |portfolio|
    .item
      = image_tag portfolio.image.thumb, :alt => portfolio.name
      = link_to portfolio.name, portfolio_permalink(portfolio.id, 'second_menu')
.clear
