<div id="sidebar">

  <% resources.each do |resource, actions| %>

    <% klass = resource.constantize %>

    <ul>

      <%= link_to :controller => "/admin/#{klass.to_resource}" do %>
        <li class="header"><%= klass.model_name.human.pluralize %></li>
      <% end %>

      <% if @resource.model_name.eql?(resource) %>
        <ul>
          <% actions.each do |action| %>
            <li><%= link_to action[:message], action[:url] %></li>
          <% end %>
        </ul>
      <% end %>

    </ul>

  <% end %>

</div>
