@import "compass/css3/border-radius";

#reviews{
  margin:15px 0px 0px 0px;
  form{
    border-top:dotted 1px #6D8D42;
    padding: 20px 0px 0px 0px;
    display:block;
    margin:20px 0px 0px 0px;
    textarea{
      height:150px;
      width:400px;
    }
  }
  ul{
    padding:0px;
    margin:0px;
    li{
      display:block;
      border:solid 1px #ccc;
      @include border-radius(6px, 6px);
      padding:10px;
      margin:0px 0px 15px 0px;
      font-size:15px;
      list-style-type:none;
      span.name{
        font-size:14px;
        display:block;
        font-style:italic;
      }
    }
  }
}
